<nav class="navbar navbar-inverse navbar-fixed-top">
      <a class="navbar-brand" href="#!topology" style="float: right;">سامانه تشخیص گراف حمله</a>
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
       </div>
        <div id="navbar" class="navbar-collapse collapse" style="float: right;"> 
          <ul class="nav navbar-nav">            
            <li><a href="#!attackPath">مسیر حمله</a></li>  
            <li class="active"><a href="#!attackGraph">گراف حمله</a></li>
            <li><a href="#!topology">توپولوژی شبکه</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
</nav>


<br/><br/><br/>


<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <p><strong>چگونه این قسمت برنامه کار میکند؟</strong></p>
    </div><!-- panel heading -->
    <div class="panel-body">
      <p>در این قسمت گراف حمله نمایش داده می شود<p>
      <p>شما میتوانید به دو حالت<em>"Logical View"</em> و <em>"Topological View"</em> گراف حمله را مشاهده کنید </p>
    </div><!-- panel body -->
  </div><!-- panel default -->
</div><!-- col md -->

<div class="col-md-9" style="float: right;">
   <div class="panel panel-default">
    <div class="panel-heading">
      <form name="myForm">
        <strong>گراف حمله</strong>
        <span class="tabulation"> <label><input type="radio" ng-model="view.status" value="Topological" checked="checked">Topological</label></span>
        <span class="tabulation"> <label><input type="radio" ng-model="view.status" value="Logical">Logical</label></span>
      </form>
    </div><!-- panel heading -->

    <div class="panel-body">
     <div ng-switch="view.status">
        <div ng-switch-default="Topological">
          <div class="attack-graph" ng-controller="attackGraphTopologicalController" graph-topo-drawing></div>
        </div>
        <div ng-switch-when="Logical">
          <div class="attack-graph"  graph-drawing></div>
        </div>
      </div><!-- ng switch -->
   </div><!-- panel body -->
 </div><!-- panel default -->
</div><!-- col md -->

<div class="col-md-3">
  <div class="panel panel-default">
    <div ng-switch="view.status">

      <div ng-switch-when="Topological">
        <div class="panel-body">
         <div><IMG src="img/pirate.png"><p><strong>حمله کننده</strong></p></div>
          <div><IMG src="img/target.png"><p><strong>هدف</strong></p></div>
        </div><!-- panel body -->
      </div><!-- ng switch -->

      <div ng-switch-when="Logical">
        <div class="panel-body">
          <div id="vulnerability"></div><p><strong>آسیب پذیری</strong></p>
          <div id="leaf"></div><p><strong>برگ</strong></p>  
          <div id="and"></div><p><strong>عملوند عطفی</strong></p>
          <div id="or"></div><p><strong>عملوند فصلی</strong></p>
        </div>
      </div>

   </div><!-- ng-switch -->
 </div><!-- panel panel default -->
</div><!-- class col-md -->

</div>
